<div class="col">
    <div class="card card--group {% if group.finished %}card--group--finished{% endif %}">
        <div class="card-header">{{ 'Group %name%'|trans({'%name%': group.name|upper}) }}</div>
        <table class="table-bordered">
            <thead>
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col" class="text-center"><abbr title="{{ 'Played'|trans }}">{{ 'Pld'|trans }}</abbr></th>
                <th scope="col" class="hidden-lg-up text-center"><abbr title="{{ 'Wins - Draws - Lost'|trans }}">{{ 'W-D-L'|trans }}</abbr></th>
                <th scope="col" class="hidden-md-down text-center"><abbr title="{{ 'Wins'|trans }}">{{ 'W'|trans }}</abbr></th>
                <th scope="col" class="hidden-md-down text-center"><abbr title="{{ 'Draws'|trans }}">{{ 'D'|trans }}</abbr></th>
                <th scope="col" class="hidden-md-down text-center"><abbr title="{{ 'Lost'|trans }}">{{ 'L'|trans }}</abbr></th>
                <th scope="col" class="text-center"><abbr title="{{ 'Goals'|trans }}">{{ 'G'|trans }}</abbr></th>
                <th scope="col" class="text-center"><abbr title="{{ 'Goal difference'|trans }}">{{ 'GD'|trans }}</abbr></th>
                <th scope="col" class="text-center"><abbr title="{{ 'Points'|trans }}">{{ 'Pts'|trans }}</abbr></th>
            </tr>
            </thead>
            <tbody>
            {%- for standing in group.standings -%}
                {% set class = loop.index <= 2 ? 'table-success' : '' %}
                {% set id = 'group_' ~ group.name ~ '_' ~ loop.index %}
                <tr id="{{ id }}" class="{{ class }}">
                    <td>{%- include '_partial/teamname.html.twig' with {team: standing.team} only -%}</td>
                    <td class="text-center">{{ standing.played }}</td>
                    <td class="hidden-lg-up text-center text-nowrap">{{ standing.wins }} - {{ standing.draws }} - {{ standing.losts }}</td>
                    <td class="hidden-md-down text-center">{{ standing.wins }}</td>
                    <td class="hidden-md-down text-center">{{ standing.draws }}</td>
                    <td class="hidden-md-down text-center">{{ standing.losts }}</td>
                    <td class="text-center text-nowrap">{{ standing.goalsfor }} - {{ standing.goalsagainst }}</td>
                    <td class="text-center">{{ standing.goalsdifference }}</td>
                    <td class="text-center">{{ standing.points }}</td>
                </tr>
            {%- endfor -%}
            </tbody>
        </table>
        <div class="card-footer p-0">
            <button type="button" class="close close--plus"><span>&times;</span></button>

            <div style="display: none">
                <table class="table-groupmatches">
                    <tbody>
                    {%- for match in group.matches -%}
                        {%- include 'overview/match/index.html.twig' with {match: match, type: 'groupmatches'} only -%}
                    {%- endfor -%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
